<div class="alert alert-primary m-3 p-3">

    <form>
        <div class="row g-3">
            <div class="col-3">
                <input type="text" class="form-control" [(ngModel)]="user!.firstName" name="firstName">
            </div>

            <div class="col-3">
                <input type="text" class="form-control" [(ngModel)]="user!.lastName" name="lastName">
            </div>

            <div class="col-3">
                <input type="text" class="form-control" [(ngModel)]="user!.country" name="country">
            </div>

            <div class="col-3">
                <input type="text" class="form-control" [(ngModel)]="user!.city" name="city">
            </div>

            <div class="col-3">
                <input type="text" class="form-control" [(ngModel)]="user!.age" name="age">
            </div>

            <div class="col-12 w-100">
                <textarea class="form-control" rows="10" [(ngModel)]="user!.intro" name="intro"></textarea>
            </div>
        </div>


        <div>
            <button class="btn btn-primary mt-3 " (click)="updateUser()">Submit</button>
        </div>

    </form>





    <hr>
    <form (ngSubmit)="updateLinkData()">
        <div class="row g-2">
            <div *ngFor="let link of links" class="col-6">
                <label for="{{link.url}}">{{link.name}}</label>
                <input type="text" class="form-control" name="{{link.url}}" 
                       [(ngModel)]="link.url" (ngModelChange)="addUpdatedLinks(link)">
            </div>
        </div>

        <div>
            <button class="btn btn-primary mt-3 " type="submit">Submit</button>
        </div>
    </form>
</div>